USE [DiaStock]
GO
/****** Object:  Table [dbo].[tblGrading_RndBox]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndBox](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ParNo] [varchar](20) NULL,
	[Grp] [varchar](5) NULL,
	[PktNo] [varchar](5) NULL,
	[BoxNo] [int] NULL,
	[Pcs] [real] NULL,
	[Cts] [real] NULL,
	[FM] [int] NULL,
	[FM2] [int] NULL,
	[Assortment] [varchar](20) NULL,
	[OrderNo] [varchar](50) NULL,
	[DocID] [varchar](50) NULL,
	[PackNo] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndBoxAssort]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndBoxAssort](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AssortCode] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndBundle]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndBundle](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[BundleNo] [real] NULL,
	[PackNo] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndCheckingDetails]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndCheckingDetails](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[EmpNo] [varchar](10) NULL,
	[Pcs] [float] NULL,
	[RetDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndCheckingIssues]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndCheckingIssues](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[SecCount] [int] NULL,
	[EmpNo] [varchar](10) NULL,
	[IssPcs] [float] NULL,
	[IssCts] [real] NULL,
	[IssDate] [datetime] NULL,
	[IssTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndCheckingReturns]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndCheckingReturns](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[SecCount] [int] NULL,
	[EmpNo] [varchar](10) NULL,
	[RetPcs] [float] NULL,
	[RetCts] [real] NULL,
	[LostPcs] [float] NULL,
	[LostCts] [real] NULL,
	[RepPcs] [float] NULL,
	[RepCts] [real] NULL,
	[RetDate] [datetime] NULL,
	[RetTime] [datetime] NULL,
	[RejPcs] [float] NULL,
	[RejCts] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndCheckingTypes]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndCheckingTypes](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[ReturnType1] [varchar](50) NULL,
	[ReturnType2] [varchar](50) NULL,
	[ReturnType3] [varchar](50) NULL,
	[ReturnType4] [varchar](50) NULL,
	[ReturnType5] [varchar](50) NULL,
	[Pcs] [float] NULL,
	[Cts] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndDepartment]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndDepartment](
	[Dept_Code] [int] NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[Profit_Center] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndInvoice]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndInvoice](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [varchar](50) NULL,
	[InvoiceDate] [datetime] NULL,
	[RghPrice] [numeric](19, 4) NULL,
	[RghPcs] [numeric](18, 2) NULL,
	[RhgCts] [real] NULL,
	[Labour] [varchar](50) NULL,
	[PolPrice] [numeric](19, 4) NULL,
	[PolPcs] [numeric](18, 2) NULL,
	[PolCts] [real] NULL,
	[Supplier] [varchar](50) NULL,
	[ParcelNo] [varchar](50) NULL,
	[AssortNo] [varchar](50) NULL,
	[Size1] [varchar](50) NULL,
	[GrpName] [varchar](50) NULL,
	[ImportDate] [datetime] NULL,
	[TransferDate] [datetime] NULL,
	[Checked] [bit] NULL,
	[Repair] [bit] NULL,
	[Export] [bit] NULL,
	[ActPcs] [numeric](18, 0) NULL,
	[ActCts] [real] NULL,
	[Description] [varchar](50) NULL,
	[ParcelID] [varchar](50) NULL,
	[OSPONo] [varchar](50) NULL,
	[SupParNo] [varchar](50) NULL,
	[LotID] [money] NULL,
	[Remarks] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndPacket]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndPacket](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[PktPcs] [int] NULL,
	[PktCts] [real] NULL,
	[PktType] [varchar](30) NULL,
	[PktSize] [varchar](50) NULL,
	[PktGroup] [varchar](5) NULL,
	[PktRef] [varchar](5) NULL,
	[FM] [int] NULL,
	[Status] [int] NULL,
	[SystemDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndPackingList]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndPackingList](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[PackNo] [real] NULL,
	[Assortment] [varchar](50) NULL,
	[ParNo] [varchar](50) NULL,
	[Pcs] [real] NULL,
	[Cts] [real] NULL,
	[ActPcs] [real] NULL,
	[ActCts] [real] NULL,
	[Price] [real] NULL,
	[Ok] [int] NULL,
	[OrderNo] [varchar](50) NULL,
	[PktNo] [varchar](10) NULL,
	[Color] [varchar](10) NULL,
	[Clarity] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[SystemDateTime] [datetime] NULL,
	[Analyze] [int] NULL,
	[SizeRange] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndPackingListB]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndPackingListB](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Assortment] [varchar](50) NULL,
	[BundleNo] [real] NULL,
	[Pcs] [real] NULL,
	[Cts] [real] NULL,
	[Price] [real] NULL,
	[Ok] [int] NULL,
	[SystemDateTime] [datetime] NULL,
	[SizeRange] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndPackingListM]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndPackingListM](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Assortment] [varchar](50) NULL,
	[LotNo] [varchar](20) NULL,
	[Pcs] [real] NULL,
	[Cts] [real] NULL,
	[Price] [real] NULL,
	[Ok] [int] NULL,
	[SystemDateTime] [datetime] NULL,
	[Analyze] [int] NULL,
	[PackNo] [real] NULL,
	[PackType] [varchar](10) NULL,
	[Category] [varchar](10) NULL,
	[OrderNo] [varchar](50) NULL,
	[PktNo] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Clarity] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[SupCode] [int] NULL,
	[SizeRange] [varchar](50) NULL,
	[ID2] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndParcel]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndParcel](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ParNo] [varchar](50) NULL,
	[Complete] [int] NULL,
	[SystemDateTime] [datetime] NULL,
	[ExportDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSections]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSections](
	[Seq] [int] NULL,
	[SecCode] [int] NOT NULL,
	[SecName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizeList]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizeList](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AssortNo] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Color] [nvarchar](255) NULL,
	[Clarity] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[Make] [nvarchar](255) NULL,
	[CusCode] [nvarchar](50) NULL,
	[MainAssort] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizeListNew]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizeListNew](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AssortNo] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Color] [nvarchar](255) NULL,
	[Clarity] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[Make] [nvarchar](255) NULL,
	[CusCode] [nvarchar](50) NULL,
	[MainAssort] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizeListPlan]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizeListPlan](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AssortNo] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Color] [nvarchar](255) NULL,
	[Clarity] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[Make] [nvarchar](255) NULL,
	[CusCode] [nvarchar](50) NULL,
	[MainAssort] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizeListRange]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizeListRange](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[AssortNo] [nvarchar](255) NULL,
	[Size] [nvarchar](255) NULL,
	[MainAssort] [nvarchar](50) NULL,
	[Type] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingCodes]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingCodes](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Make] [varchar](50) NULL,
	[Clarity] [varchar](50) NULL,
	[MainAssort] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingCodesAssort]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingCodesAssort](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DisplayName] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[ColorName] [varchar](50) NULL,
	[ClarityName] [varchar](50) NULL,
	[ColorSeq] [int] NULL,
	[ClaritySeq] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingCodesDisplay]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingCodesDisplay](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DisplayName] [varchar](50) NULL,
	[Color] [char](10) NULL,
	[Clarity] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingCodesNew]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingCodesNew](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Make] [varchar](50) NULL,
	[Clarity] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingCodesPlan]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingCodesPlan](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Make] [varchar](50) NULL,
	[Clarity] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingDetails]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingDetails](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[EmpNo] [varchar](10) NULL,
	[Pcs] [float] NULL,
	[RetDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingIssues]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingIssues](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[EmpNo] [varchar](10) NULL,
	[IssPcs] [float] NULL,
	[IssCts] [real] NULL,
	[IssDate] [datetime] NULL,
	[IssTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingPacket]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingPacket](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[SizeCode] [varchar](50) NULL,
	[PktPcs] [int] NULL,
	[PktCts] [real] NULL,
	[ReturnType1] [varchar](50) NULL,
	[ReturnType2] [varchar](50) NULL,
	[ReturnType3] [varchar](50) NULL,
	[ReturnType4] [varchar](50) NULL,
	[PktType] [varchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingRange]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingRange](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Moving] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingReturns]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingReturns](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[EmpNo] [varchar](10) NULL,
	[RetPcs] [float] NULL,
	[RetCts] [real] NULL,
	[LostPcs] [float] NULL,
	[LostCts] [real] NULL,
	[RepPcs] [float] NULL,
	[RepCts] [real] NULL,
	[RetDate] [datetime] NULL,
	[RetTime] [datetime] NULL,
	[RejPcs] [float] NULL,
	[RejCts] [real] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSizingTypes]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSizingTypes](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Department] [varchar](50) NULL,
	[ParNo] [varchar](20) NULL,
	[PktNo] [varchar](3) NULL,
	[Sec] [int] NULL,
	[ReturnType1] [varchar](50) NULL,
	[ReturnType2] [varchar](50) NULL,
	[ReturnType3] [varchar](50) NULL,
	[ReturnType4] [varchar](50) NULL,
	[ReturnType5] [varchar](50) NULL,
	[ReturnType6] [varchar](50) NULL,
	[ReturnType7] [varchar](50) NULL,
	[Pcs] [float] NULL,
	[Cts] [real] NULL,
	[Price] [real] NULL,
	[OK] [int] NULL,
	[OrderNo] [varchar](10) NULL,
	[SystemDateTime] [datetime] NULL,
	[Remarks] [varchar](100) NULL,
	[DocID] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSupplier]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSupplier](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[SupplierCode] [varchar](50) NULL,
	[SupplierName] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndSuppliers]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndSuppliers](
	[SupplierCode] [int] NULL,
	[CompanyName] [nvarchar](50) NULL,
	[ContactName] [nvarchar](50) NULL,
	[SupDorNo] [nvarchar](100) NULL,
	[SupCity] [nvarchar](40) NULL,
	[Country] [nvarchar](36) NULL,
	[TelNo] [nvarchar](50) NULL,
	[FaxNo] [nvarchar](20) NULL,
	[EmailNo] [nvarchar](50) NULL,
	[SupWeb] [nvarchar](50) NULL,
	[Remarks] [nvarchar](50) NULL,
	[Status] [char](1) NULL,
	[CompRefNo] [nvarchar](50) NULL,
	[ShipDet] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndTypes]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndTypes](
	[ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Sec] [float] NULL,
	[SecName] [nvarchar](255) NULL,
	[Type] [nvarchar](255) NULL,
	[SecCode] [varchar](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGrading_RndWAN_LOCA]    Script Date: 05/07/2026 1:31:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrading_RndWAN_LOCA](
	[ID] [numeric](18, 0) NOT NULL,
	[WAN_NAME] [varchar](50) NULL,
	[WAN_CODE] [char](2) NULL,
	[RESERV_CODE] [varchar](1) NULL,
	[ACTIVE] [bit] NOT NULL,
	[STREET] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[STATE] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
	[TELEPHONE] [varchar](25) NULL,
	[FAX] [varchar](25) NULL,
	[EMAIL] [varchar](30) NULL,
	[USER_ID_1] [char](1) NULL,
	[PAY_DATE] [datetime] NULL,
	[EPFRegNo] [varchar](50) NULL,
	[BankNo] [varchar](50) NULL,
	[BankACNo] [varchar](50) NULL,
	[BankBranchNo] [varchar](50) NULL,
	[ETFRegNo] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblGrading_RndBox] ADD  CONSTRAINT [DF_tblGrading_RndBox_FM]  DEFAULT ((0)) FOR [FM]
GO
ALTER TABLE [dbo].[tblGrading_RndBox] ADD  CONSTRAINT [DF_tblGrading_RndBox_FM2]  DEFAULT ((0)) FOR [FM2]
GO
ALTER TABLE [dbo].[tblGrading_RndBox] ADD  CONSTRAINT [DF_tblGrading_RndBox_Assortment]  DEFAULT ('') FOR [Assortment]
GO
ALTER TABLE [dbo].[tblGrading_RndBox] ADD  CONSTRAINT [DF_tblGrading_RndBox_OrderNo]  DEFAULT ('') FOR [OrderNo]
GO
ALTER TABLE [dbo].[tblGrading_RndInvoice] ADD  CONSTRAINT [DF_tblGrading_RndInvoice_LotID]  DEFAULT ((0)) FOR [LotID]
GO
ALTER TABLE [dbo].[tblGrading_RndInvoice] ADD  CONSTRAINT [DF_tblGrading_RndInvoice_Remarks]  DEFAULT ('') FOR [Remarks]
GO
ALTER TABLE [dbo].[tblGrading_RndPacket] ADD  CONSTRAINT [DF_tblGrading_RndPacket_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblGrading_RndPacket] ADD  CONSTRAINT [DF_tblGrading_RndPacket_SystemDateTime]  DEFAULT (getdate()) FOR [SystemDateTime]
GO
ALTER TABLE [dbo].[tblGrading_RndPackingList] ADD  CONSTRAINT [DF_tblGrading_RndPackingList_SizeRange]  DEFAULT ('') FOR [SizeRange]
GO
ALTER TABLE [dbo].[tblGrading_RndPackingListB] ADD  CONSTRAINT [DF_tblGrading_RndPackingListB_Ok]  DEFAULT ((0)) FOR [Ok]
GO
ALTER TABLE [dbo].[tblGrading_RndPackingListB] ADD  CONSTRAINT [DF_tblGrading_RndPackingListB_SystemDateTime]  DEFAULT (getdate()) FOR [SystemDateTime]
GO
ALTER TABLE [dbo].[tblGrading_RndPackingListB] ADD  CONSTRAINT [DF_tblGrading_RndPackingListB_SizeRange]  DEFAULT ('') FOR [SizeRange]
GO
ALTER TABLE [dbo].[tblGrading_RndPackingListM] ADD  CONSTRAINT [DF_tblGrading_RndPackingListM_SizeRange]  DEFAULT ('') FOR [SizeRange]
GO
ALTER TABLE [dbo].[tblGrading_RndParcel] ADD  CONSTRAINT [DF_tblGrading_RndParcel_SystemDateTime]  DEFAULT (getdate()) FOR [SystemDateTime]
GO
ALTER TABLE [dbo].[tblGrading_RndSizingTypes] ADD  CONSTRAINT [DF_tblGrading_RndSizingTypes_ReturnType7]  DEFAULT ('') FOR [ReturnType7]
GO
ALTER TABLE [dbo].[tblGrading_RndSizingTypes] ADD  CONSTRAINT [DF_tblGrading_RndSizingTypes_OK]  DEFAULT ((0)) FOR [OK]
GO
ALTER TABLE [dbo].[tblGrading_RndSizingTypes] ADD  CONSTRAINT [DF_tblGrading_RndSizingTypes_OrderNo]  DEFAULT ('') FOR [OrderNo]
GO
ALTER TABLE [dbo].[tblGrading_RndSizingTypes] ADD  CONSTRAINT [DF_tblGrading_RndSizingTypes_SystemDateTime]  DEFAULT (getdate()) FOR [SystemDateTime]
GO
ALTER TABLE [dbo].[tblGrading_RndSizingTypes] ADD  CONSTRAINT [DF_tblGrading_RndSizingTypes_Remarks]  DEFAULT ('') FOR [Remarks]
GO
ALTER TABLE [dbo].[tblGrading_RndSizingTypes] ADD  CONSTRAINT [DF_tblGrading_RndSizingTypes_DocID]  DEFAULT ('') FOR [DocID]
GO
